<div id = "footer">
	© Nick Nunns 2010. Image from <a href = http://www.flickr.com/photos/kaptainkobold/101348899>Kaptain Kobold</a> on <a href = "http://www.flickr.com">flickr</a>.
</div>

<script type="text/javascript">
	$.backstretch("img/a.jpg");
</script>