<div id = "footer">
	© Nick Nunns 2010. Image from <a href = "http://www.flickr.com/photos/sskennel/">sskennel</a> on <a href = "http://www.flickr.com">flickr</a>.
</div>
<script type="text/javascript">
	$.backstretch("img/no2.jpg");
</script>