<div id = "footer">
	© Nick Nunns 2010. Image from <a href = "http://sphsgamingclub.wikidot.com/solitaire"> these bros.</a>
</div>
<script type="text/javascript">
	$.backstretch("img/no.png");
</script>