<!DOCTYPE html>
<html leng ="en">
<head>
	<title>Cap Hill Game Night</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width; initial-scale=0.90; maximum-scale=1.0; user-scalable=0;" />
	<script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" /> 
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<div id = "block">
		<div id = "title"> 
			Cap Hill Game Night!
		</div>
		<div id = "result">
			<%= @msg %>
		</div>
		<div id = "time">
			Posted: <%= @date %>
		</div>
	</div>
	<% if @gameon %>
		<%= erb(:_bg, :layout => false) %>
	<% else %>
		<%= erb(:_gameoff, :layout => false) %>
	<% end %>
</body>
</html>